<hr>
      <div class="container mt-5 px-6">
        <div class="row g-3">
          <div class="col-lg-3 col-md-6 col-sm-12 w-col">
            <h5 class="primary-color">Services</h5>
            <ul class="list-unstyled">
              <li class="mt-3">
                <a href="/pages/categories.html" class="text-decoration-none fw-normal primary-color">Categories</a>
              </li>
              <li class="mt-3">
                <a href="/pages/products.html" class="text-decoration-none fw-normal primary-color">Products</a>
              </li>
              <li class="mt-3">
                <a href="/pages/local-sellers.html" class="text-decoration-none fw-normal primary-color">Locall Sellers</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 w-col">
            <h5 class="primary-color">Contact Info</h5>
            <ul class="list-unstyled">
              <li class="mt-3">
                <a href="" class="text-decoration-none fw-normal primary-color"><i class="fa-solid fa-location-dot"></i> 123 Street, Phnom Penh, Cambodia</a>
              </li>
              <li class="mt-3">
                <a href="" class="text-decoration-none fw-normal primary-color"><i class="fa-solid fa-phone"></i> 099 943 618</a>
              </li>
              <li class="mt-3">
                <a href="" class="text-decoration-none fw-normal primary-color"><i class="fa-solid fa-envelope"></i> info@LoukDo.com</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 w-col">
            <h5 class="primary-color">Follow Us</h5>
            <ul class="list-unstyled">
              <li class="mt-3">
                  <div class="d-flex text-start">
                    <a href="https://www.facebook.com/sistersofcode">
                        <i class="fa-brands fa-facebook-f mt-2 ms-2"></i>
                      </a>
                    <a href="https://www.facebook.com/sistersofcode">
                        <i class="fa-brands fa-instagram mt-2 ms-2 text-danger"></i>
                      </a>
                    <a href="https://www.facebook.com/sistersofcode">
                        <i class="fa-brands fa-tiktok mt-2 ms-2 text-dark"></i>
                      </a>
                  </div>
              </li>
              <li class="mt-3">
                  <h5 class="primary-color">Newsletter</h5>
                <p class="fw-normal">Subscribe to get special offers and updates</p>
              </li>
              <li class="mt-3">
                <form class="d-flex" role="search">
        <input class="form-control me-2 f-search" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success  search f-search-submit" type="submit">Search</button>
      </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p class="fw-normal mb-0">© 2026 LoukDo. All rights reserved.</p>
      <p class="fw-normal">Supporting Local Cambodian Artisans and Sellers</p>
      </div>