 <nav class="navbar navbar-expand-lg animate__zoomIn fixed-top bg-white">
        <div class="container">
          <!-- Logo -->
          <a class="navbar-brand" href="/index.html">
            <img
              src="/images/logo.png"
              alt="Logo"
              width="150"
              class="img-fluid"
            />
          </a>

          <!-- Mobile Toggle -->
          <button
            class="navbar-toggler border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarMenu"
            aria-controls="navbarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navigation -->
          <div
            class="collapse navbar-collapse justify-content-end bg-white"
            id="navbarMenu"
          >
            <ul class="navbar-nav align-items-lg-center mb-3 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white px-lg-3" href="/pages/categories.html">
                  Categories
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white px-lg-3" href="/pages/products.html">
                  Products
                </a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link text-white px-lg-3"
                  href="/pages/local-sellers.html"
                >
                  Local Seller
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white px-lg-3" href="/pages/about.html">
                  About
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white px-lg-3" href="/pages/contact.html">
                  Contact
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white px-lg-3" href="/pages/wishlist.html">
                  <i class="fa-solid fa-heart"></i>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white px-lg-3 position-relative d-inline-flex align-items-center justify-content-center" href="/pages/order.html" style="min-width: 2.2rem;">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <span
                    id="cart-count-badge"
                    class="position-absolute badge rounded-pill bg-danger d-none"
                    style="font-size: 0.7rem; top: -2px; right: -2px; line-height: 1;"
                  >0</span>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white px-lg-3 text-decoration-none"
                  href=""
                >
                  <img src="/images/kh.svg" alt="" class="flag" />
                  <span>|</span>
                  <img src="/images/eg.svg" alt="" class="flag" />
                </a>
              </li>
            </ul>

            <!-- <a
              href="/pages/login.html"
              class="btn btn-outline-secondary-color rounded-pill ms-lg-3 px-4 btn-login"
            >
              Login
            </a> -->
            <a href="/pages/login.html" class="primary-color">
              <i class="fa-regular fa-circle-user"></i>
            </a>
          </div>
        </div>
      </nav>